.content-menu {
    display: flex;
    gap: 48px;
    height: 36px;
    padding: 10px 20px;
    background: $color-main;
    border-radius: $border-radius;

    &__link {
        position: relative;
        color: $color-white;
        font-size: 13px;

        &_selected::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: -2px;
            height: 4px;
            width: 50px;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            background: $color-white;
        }
    }
}
