// Font settings
$font-family: 'Inter', sans-serif;
$font-size: 14px;
$font-size-md: 12px;
$font-size-sm: 10px;
$font-size-lg: 21px;
$font-size-xl: 36px; 
$font-weight: 400;
$font-weight-md: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

// Colors
$color-main: #F16662;
$color-white: #FFFFFF;
$color-black: #000000;
$color-dark: #252C32;
$color-background: #F9FBFD;
$color-mid-gray: #6E7C87;

// Borders
$border-radius: 4px;
$border-radius-md: 6px;  

// Screen resolutions
$screen-device-lg: 1440px;


