// Fonts
$font-family: 'Inter', sans-serif;
$font-size: 14px;
$font-size-md: 12px;
$font-size-sm: 10px;

// Colors
$color-main: #F16662;
$color-white: #FFFFFF;
$color-black: #000000;
$color-background: #F9FBFD;

// Borders
$border-radius: 4px; 

// Screen resolutions
$screen-device-lg: 1440px;


