.recipe {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;

    &__content {
        flex: 1;
        background: $color-white;
        border-radius: $border-radius;
        padding: 23px 20px;
    }
}
