.navigation {
    height: 64px;
    background: $color-white;
    border-radius: $border-radius;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 40px;

    &__item_selected {
        font-weight: bold;
    }
}
