.recipes {
    &__header {
        margin: 16px 0;
        padding: 0 20px;
    }
    
    &__breadcrumbs {
        margin-bottom: 18px;
    }

    &__title {
        font-size: $font-size-xl;
    }
}
