.recipes {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__header {
        padding: 16px 20px;
    }
    
    &__breadcrumbs {
        margin-bottom: 18px;
    }

    &__title {
        font-size: $font-size-xl;
    }
}
