* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: $screen-device-lg;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #252C32;

    &_selected {
        font-weight: bold;
    }
}
