* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: $screen-device-lg;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: $color-dark;
}
